@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Karantina&display=swap');

.font-karantina {
  font-family: 'Karantina', sans-serif;
}
/* styles.css */

.glow-effect {
  box-shadow: 0 0 18px 2px rgba(161, 252, 161, 0.8); /* Adjust shadow color and size as needed */
  transition: box-shadow 0.3s ease-in-out;
}

.glow-effect:hover {
  box-shadow: 0 0 18px 3px rgb(0, 255, 0); /* Increase shadow size on hover */
}
/* tailwind.config.css or your custom CSS file */
.shadow-green {
  box-shadow: 0 0 100px rgb(0, 255, 106); /* Adjust the shadow color and intensity */
}
html, body {
  overflow-x: hidden;
}

